# CAP catalog-conversion
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models
Makefile_20240905132036.mta
package-lock.json
app/catalog-conversion-ui/dist/mycatalogconversionui.zip
app/catalog-conversion-ui/dist/sap-ui-cachebuster-info.json
resources/mycatalogconversionui.zip
